body, #main
{
	height: 100%;
}
header, #navCont
{
	background: rgba(42,16,140,1);
}
#smain
{
	background: white;
	min-height: 100%;
}
#navbar-brand 
{
	color:white;
	font-size: 2.3em;
}
#navbar-brand:hover 
{
	color:white;
}
#nula:hover 
{
	color:white;
}

#hCont h1, #main
{
	height: 100%;
	width: 100%;
	text-align:center;
}
@media (min-width: 1000px) {
form
{
	margin: 0 0 0 15%;
}

.slogan
{
	animation:4s slid;
	padding:-20px 10px 10px 10px;
	width: 25%;
	height: 130px;
	display:block;
	position:absolute;
	background: white;
	text-align:center;
	margin: -15% 0 0 1%;
	border:1px solid rgba(150,150,150,0.5);
	border-radius: 5px;
}
.slogan h4
{
	animation:7s slide;
	}
.slogan h3
{
	animation:4s slide1;
	}
.slogan:hover
{
	box-shadow:4px 4px 5px rgba(150,150,150,0.5);
}
@keyframes slid{
	from{
		margin-left:-50%;
	}
	to{
		margin-left:1%;
	}
}
@keyframes slide{
	from{
		margin-left:-550%;
	}
	to{
		margin-left:0;
	}
}
@keyframes slide1{
	from{
		margin-left:-450%;
	}
	to{
		margin-left:0;
	}
}

}
#bCont
{
	height: 100%;
	width: 100%;
	background: rgba(200,200,200,0.3);
	padding: 2% 0 2% 0;
}

#mineB
{
	padding:10px;
	width: 30%;
	display:inline-block;
	height: 400px;
	background: white;
	margin: 0 0 0 2.4%;
	border:1px solid rgba(150,150,150,0.5);
	border-radius: 5px;
}
#mineB:hover
{
	box-shadow:4px 4px 5px rgba(150,150,150,0.5);
}
#mineB h3
{
	padding: 0 0 10px 0;
}
#imgA
{
	height: 150px;
	width: 105.8%;
	margin: -10px;
	border-bottom: 1px solid rgba(200,200,200,0.5);
}
#imgA img
{
	width: 100%;
	max-height: 150px;
}

footer
{
	color: white;
	background: rgba(30,30,30,1);
	height: 200px;
}

#fDiv
{
	width: 25%;
}
