header, #navCont
{
	background: rgba(42,16,140,1);
}
#navbar-brand 
{
	color:white;
	font-size: 2.3em;
}
#navbar-brand:hover 
{
	color:white;
}
#nula:hover 
{
	color:white;
}

#hCont
{
	height: 100%;
	width: 100%;
}
#bCont
{
	height: 100%;
	width: 100%;
	background: rgba(200,200,200,0.3);
	padding: 2% 0 2% 0;
}

#mineB
{
	padding:10px;
	width: 30%;
	height: 400px;
	background: white;
	margin: 0 0 0 2.4%;
	border:1px solid rgba(150,150,150,0.5);
	border-radius: 5px;
}
#mineB:hover
{
	box-shadow:4px 4px 5px rgba(150,150,150,0.5);
}
#mineB h3
{
	padding: 0 0 10px 0;
}
#imgA
{
	height: 150px;
	width: 105.8%;
	margin: -10px;
	border-bottom: 1px solid rgba(200,200,200,0.5);
}
#imgA img
{
	width: 100%;
	max-height: 150px;
}

footer
{
	color: white;
	background: rgba(30,30,30,1);
	height: 200px;
}

#fDiv
{
	width: 25%;
}