<!DOCTYPE html>
<html>
<head>
<title>DC Learning</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="style.css"/>
<link rel="stylesheet" href="bootstrap-3.3.7/font-awesome-4.1.0/css/font-awesome.css"/>
<script src="angular-1.7.2/angular.min.js"></script>
<script src="angular-1.7.2/angular-route.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="homeController" ng-init="varTest=0">
<header  ng-show="varTest<1">
    <nav class="navbar navbar-default">
        <div id="navCont" class="container">
            <div class="navbar-header">
                <a class="navbar-brand" id="navbar-brand" href="/">DClearning</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="nula" href="#/!"><i class="fa fa-home"></i> Home</a></li>
                <li><a id="nula" href="#!about"><i class="fa fa-shield"></i> About</a></li>
                <li><a id="nula" href="#!contact"><i class="fa fa-comment"></i> Contact</a></li>
</ul> </div>
    </nav>
</header>
  <div id="main"  ng-show="varTest<1">
<!-- this is where content will be injected --> 
  <div ng-view ng-show="varTest>0"></div>

<!-- formulaire -->
  <div id="hCont" ng-show="varTest<1">
  <h1>Learn from an account</h1>
  <form class="form-horizontal" name="form">
  <div class="form-group">
  <label class="col-md-3 control-label" for="Pseudo">User Name</label>
  <div class="col-md-4">
  <input type="text" ng-minlength="4" class="form-control" name="pseudo" ng-model="pseudo" placeholder="pseudo" required/>
  </div>
  <font color="red" ng-show="form.pseudo.$touched && form.pseudo.$invalid"> The User Name must contain at least 4 characters</font>
  </div>
  <div class="form-group">
  <label class="col-md-3 control-label" for="mdp">Password</label>
  <div class="col-md-4">
  <input type="password" class="form-control" ng-minlength="5" name="mdp" ng-model="mdp" placeholder="Mot de passe" required/>
  </div>
  <font color="red" ng-show="form.mdp.$touched && form.mdp.$invalid"> The password must contain at least 5 characters</font>
  </div>
  <div class="form-group">
  <div class="col-md-offset-1 col-md-5">
  <button class="btn btn-detton-default" style="color:#c0c0c0" ng-if="form.pseudo.$dirty && form.pseudo.$invalid || form.mdp.$dirty && form.mdp.$invalid ||form.mdp.$untouched || form.pseudo.$untouched || form.mdp.$touched && form.mdp.$invalid || form.mdp.$invalid && form.pseudo.$touched && form.pseudo.$invalid"><i class="fa fa-sign-in"></i> Sign In</button>
  <button class="btn btn-detton-default" ng-click="varTest=2" style="color:white;background-color:rgba(42,16,140,1)" ng-show="form.mdp.$touched && form.mdp.$valid && form.pseudo.$touched && form.pseudo.$valid"><i class="fa fa-sign-in"></i> Sign In</button>
  </div>
  </div>
  </form>
  </div>
  </form>
  <div class="slogan">
    <h3>Appointment of the learner</h3>
    <h4>DClearning, Your system in line with your studies</h4>
  </div>
  </div>
  </div>

  <div ng-show="varTest>1"><div ng-include="'dashboard.html'"></div></div>

  <div ng-show="varTest<1" id="bCont" class="container" style="word-wrap:break-word;">
      <div class="row"  ng-show="varTest<1">
          <div id="mineB" class="col-sm-1">
            <div id="imgA"><img src="images/img1.jpeg"></div></br>
            <h3>Discover a new way of learning</h3>
            <p id="p1">Lorem ipsum dolor..Lorem ipsum dolor..Lorem ipsum dolor..</p>
          </div>
          <div id="mineB" class="col-sm-1">
            <div id="imgA"><img src="images/img2.jpeg"></div></br>
            <h3>Learn where are you</h3>
            <p id="p1">Lorem ipsum dolor..Lorem ipsum dolor..Lorem ipsum dolor..Lorem ipsum dolor..</p>
          </div>
          <div id="mineB" class="col-sm-1">
            <div id="imgA"><img src="images/img3.jpeg"></div></br>
            <h3>Stay connected with your teachers constanly</h3>
            <p id="p1">Lorem ipsum dolor..Lorem ipsum dolor..</p>
          </div>
        </div>
  </div>
</div>
<footer  ng-show="varTest<1">
  <div class="container">
    <div class="row">
      <div id="fDiv" class="col-sm-1">
        <h4>News</h4>
        <p>Tell something here</p>
      </div>
      <div id="fDiv" class="col-sm-1">
        <h4>Mannual</h4>
        <p>Tell something here</p>
      </div>
      <div id="fDiv" class="col-sm-1">
        <h4>Entreprise</h4>
        <p>Tell something here</p>
      </div>
      <div id="fDiv" class="col-sm-1">
        <h4>Workers</h4>
        <p>Tell something here</p>
      </div>
    </div>
    </div>
</footer>
<script>
var app = angular.module('app', ['ngRoute']);
   app.config(function ($routeProvider) {
            // configure the routes
            $routeProvider
      .when('/', {
  // route for the home page
          templateUrl: 'pages/home.html',
          controller: 'homeController'
        })
      .when('/about', {
  // route for the about page
          templateUrl: 'pages/about.html',
          controller: 'aboutController'
        })
      .when('/contact', {
  // route for the contact page
          templateUrl: 'pages/contact.html',
          controller: 'contactController'
        })
      .otherwise({
  // when all else fails
          templateUrl: 'pages/routeNotFound.html',
          controller: 'notFoundController'
      });
  });
  
  app.controller('homeController', function ($scope) {
      $scope.message = 'Welcome to my home page!';
  });
  
  app.controller('aboutController', function ($scope) {
      $scope.message = 'Find out more about me.';
  });
  
  app.controller('contactController', function ($scope) {
      $scope.message = 'Contact us!';
  });
  app.controller('notFoundController', function ($scope) {
      $scope.message = 'There seems to be a problem finding the page you wanted';
      $scope.attemptedPath = $location.path();
  });
   </script>
</body>
</html>